@import url('https://fonts.googleapis.com/css?family=Rubik:300,600&subset=cyrillic');
@import "font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}
